.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.carta-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 20px;
  /* background-color: #f2f1ef; */
  color: black;
  /* margin: 10px; */
  margin-left: 25px;
  padding: 10px;
  border: 4px solid #1976d2;
}

.height-promocion {
  min-height: 100%;
}

.productos-img {
  height: 200px;
  border-radius: 5%;
}

.productos-img:hover {
  transform: scale(1.1);
}